@import "normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');
@media all {
  html,body {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 0;
    background: #fff;
    min-height: 100vh;
  }

  pre {
    font-family: 'Nanum Gothic Coding', monospace;
    white-space: pre-wrap;
  }

  a {
    text-decoration: none;
  }

  hr {
    width: 100%;
  }
  hr, iframe {
    border-color: turquoise;
    border-style: solid;
    border-width: 2px;
  }

  #main-content {
    max-width: 450px;
    width: calc(100% - 64px);
    padding: 32px;
    margin: 0 auto;
    text-align: center;
  }

  .fixed {
    left: 0;
    position: fixed;
    width: 100vw;
  }
  .fixed.top {
    top: 0;
  }
  .fixed.bottom {
    bottom: 8px;
  }

  .flex {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  .flex.row { flex-direction: row; }
  .flex.column { flex-direction: column; flex: 1; }

  .fretboard {
    margin: 0.5em 2em;
    text-align: left;
  }

  .hidden {
    display: none !important;
  }

  .vertical-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  #chords {
    margin-top: 90px;
  }

  #instructions {
    padding: 0 0.5em;
  }

  #top {
    margin: 0 1em;
    max-width: 450px;
    width: 100%;
    background: lightpink;
  }
}