@import "normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap');
@media all {
  html,body {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 0;
    background: #fff;
    min-height: 100vh;
  }

  hr {
    width: 100%;
    border-color: turquoise;
    border-style: solid;
    border-width: 2px;
  }

  #main-content {
    max-width: 1000px;
    width: calc(100% - 64px);
    padding: 32px;
    margin: 0 auto;
    text-align: center;
  }

  .fixed {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
  }

  .flex {
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  .flex.row { flex-direction: row; }
  .flex.column { flex-direction: column; }

  .fretboard {
    margin: 0.5em 2em;
    text-align: left;
  }

  .vertical-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  #barre-chords {
    margin-top: 140px;
  }

  #top {
    margin: 0 1em;
    max-width: 450px;
    width: 100%;
    background: lightpink;
  }
}